version: '{build}'

skip_tags: false
image: Visual Studio 2015
platform: Any CPU
configuration: Release

cache:
  - packages -> **\packages.config  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified

build_script:
  - ps: make\make.ps1 -t build

test: off

artifacts:
  - path: '*.nupkg'
    name: Packages